ol#available { overflow-y:auto; height: 500px; }
ol#recommended { overflow-y:auto; height: 300px; }
li.issue { cursor: move; }
div.pane h3 { color: #507AAA; }
span.subtitle { font-size: smaller; color: #CCCCCC }
div.pane ol { list-style: none; padding-left: 15px;}
div.pane ol li { padding: 1px 0; }
div.pane ol li:hover { background-color:#ffffdd; }
div.pane ol li.empty-list { background-color:#FFFFEE; padding:100px; text-align:center; font-style:italic; }
div.menu { float:right; text-align: right; }

.drop-accepted { background-color:#FFFFEE; height: 16px; width: 100%; border: 1px solid #000000; }

div.issue-details { position:relative; display:inline; float:left; width:71%; margin: 0 .5%; }
div.estimate { position:relative; float:left; display: inline; width: 6%; margin: 0; text-align: center; }
div.progress { position:relative; float:left; display:inline; width: 17%; margin: 0 0 0 .5%; }

div.pane-summary { text-align: right; }
div.pane-summary p { font-size: 80% }
div.pane-summary table.progress { float: right; margin: 1px 6px;}

/* Port of the issue coloring on the alternate.css theme */
.odd.priority-5, .odd.priority-5:hover { color: #900; font-weight: bold; }
.odd.priority-5 { background: #ffc4c4; }
.even.priority-5, .even.priority-5:hover { color: #900; font-weight: bold; }
.even.priority-5 { background: #ffd4d4; }
.priority-5 a, .priority-5:hover a { color: #900; }
.odd.priority-5 , .even.priority-5  { border-color: #ffb4b4; }

.odd.priority-4, .odd.priority-4:hover { color: #900; }
.odd.priority-4 { background: #ffc4c4; }
.even.priority-4, .even.priority-4:hover { color: #900; }
.even.priority-4 { background: #ffd4d4; }
.priority-4 a { color: #900; }
.odd.priority-4 , .even.priority-4  { border-color: #ffb4b4; }

.odd.priority-3, .odd.priority-3:hover { color: #900; }
.odd.priority-3 { background: #fee; }
.even.priority-3, .even.priority-3:hover { color: #900; }
.even.priority-3 { background: #fff2f2; }
.priority-3 a { color: #900; }
.odd.priority-3 , .even.priority-3  { border-color: #fcc; }

.odd.priority-1, .odd.priority-1:hover { color: #559; }
.odd.priority-1 { background: #eaf7ff; }
.even.priority-1, .even.priority-1:hover { color: #559; }
.even.priority-1 { background: #f2faff; }
.priority-1 a { color: #559; }
.odd.priority-1, .even.priority-1 { border-color: #add7f3; }
